<section class="categories-index">

  <header class="page-header">
    <h1>Categories</h1>
  </header>

  <!-- look for _product.html.erb partial to edit product display -->
  <div class="categories">

    <article class="category">
    <% @categories.each do |cat| %>
      <h4><%= cat.name %><h4>
      <% end %>
    </article>
    
  </div>

</section>
