<section class="categories-index">

  <header class="page-header">
    <h1>Categories</h1>
  </header>

  <!-- look for _product.html.erb partial to edit product display -->
  <div class="categories">
    IT WORKS!!
  </div>

</section>
